---
import CheapButton from "../utils/CheapButton.astro";
import ContactInput from "../utils/ContactInput.astro";
---

<section class="mb-20">
	<h2 class="text-title mb-8">keep in touch with us</h2>
	<form class="grid gap-4 grid-cols-1 md:grid-cols-2 md:gap-8" data-netlify="true">
		<ContactInput id="1" label="name" placeholder="input your name" />
		<ContactInput id="2" type="number" label="phone" placeholder="enter phone number" />
		<ContactInput id="2" type="email" label="email" placeholder="enter your email" />
        <ContactInput id="3" type="text" label="message" placeholder="send us your message here" />
        <div class="col-span-2 flex justify-center">
            <div>
                <CheapButton>Send Message</CheapButton>
            </div>
        </div>
	</form>
</section>
