---
import CheapButton from "../utils/CheapButton.astro";
import ContactInput from "../utils/ContactInput.astro";
---

<section class="mb-20">
  <h2 class="text-title mb-8">Keep in touch with us</h2>
  <form 
    id="contact-form"
    class="grid gap-4 grid-cols-1 md:grid-cols-2 md:gap-8"
    name="contact-form"
    data-netlify="true"
    data-netlify-honeypot="bot-field"
    action="/success"
    method="POST"
  >
    <input type="hidden" name="form-name" value="contact-form" />
    <p class="hidden">
      <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
    </p>

    <ContactInput id="1" label="name" name="name" placeholder="Input your name" required />
    <ContactInput id="2" type="number" label="phone" name="phone" placeholder="Enter phone number" required />
    <ContactInput id="3" type="email" label="email" name="email" placeholder="Enter your email" required />
    <ContactInput id="4" type="text" label="message" name="message" placeholder="Send us your message here" required />

    <div class="col-span-2 flex justify-center">
      <div>
        <CheapButton type="submit">Send Message</CheapButton>
      </div>
    </div>
  </form>
</section>

