---
import PortfolioCard from "../utils/PortfolioCard.astro";
---
<section class="mb-section">
    <h2 class="text-title mb-4">
        Some of our projects
    </h2>
    <div class="grid gap-8 mb-8 md:grid-cols-2">
        <p class="text-sm opacity-50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
    <div class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden">
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="images/work/painting.png" alt="some building" title="Painting"/>
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="images/work/bathroom.png" alt="some building" title="Bathroom Remodel"/>
        </div>
        <div class="w-full h-full lg:row-span-2">
            <PortfolioCard src="images/work/outdoor.png" alt="some building" title="outdoor remodel"/>
        </div>
        <div class="w-full h-full lg:col-span-2">
            <PortfolioCard src="images/work/framing.png" alt="some building" title="framing"/>
        </div>
    </div>
</section>