<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">we are your partner in building a legacy</h2>
    <p class="neutral-100 text-sm md:text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nunc nisl. Vivamus et placerat lorem. Nullam auctor odio a tincidunt semper. Proin tempor in eros in ornare.
    </p>
</section>