<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">we are your partner in building a legacy</h2>
    <p class="neutral-100 text-sm md:text-base">
        Our expert craftsmanship extends to every corner, whether we’re enhancing your interiors with a fresh coat of paint, revamping your home’s layout, or creating a garden oasis that complements the sophisticated aesthetic you desire.
    </p>
</section>