---
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/sections/Footer.astro";
import Header from "../components/sections/Header.astro";
import Hero from "../components/sections/Hero.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import Summary from "../components/sections/Summary.astro";
import Wrapper from "../components/utils/Wrapper.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/another/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Castillo Luxe - Coats and Construction LLC</title>
	</head>
	<body>
		<BaseLayout>
			<Wrapper>
				<Header />
				<Hero />
				<Summary />
				<Portfolio />
				<About />
				<Contact />
				<Footer />
			</Wrapper>
		</BaseLayout>
	</body>
</html>
