---
import BaseLayout from "../layout/BaseLayout.astro";
import Wrapper from "../components/utils/Wrapper.astro";
import Header from "../components/sections/Header.astro";
import CheapButton from "../components/utils/CheapButton.astro";
export const prerender = true;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
</head>
<body>
  <BaseLayout>
    <Wrapper class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg">
      <Header />
      <div class="text-center">
        <h1 class="text-title">Success!</h1>
        <p class="text-sm opacity-50 md:text-base m-8">Your message has been sent successfully. We will get back to you soon.</p>
        <CheapButton href="index.html">Go Back</CheapButton>
      </div>
      </Wrapper> 
  </BaseLayout>
</body>
</html>
